<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カート</title>
</head>
<body>
    <h1>カート</h1>
    <ul>
        {% for product in producter %}
        {% set product = get_product_by_id(product_id) %}
        <li>
            <p>{{ product[0] }}</p>
            <p>{{ product[1] }} 円</p>
            <p>{{ get_product_quantity(product_id) }}</p>
            <p>
                <form action="{{ url_for('cart.remove_from_cart') }}" method="post">
                    <input type="hidden" name="product_id" value="{{ product_id }}">
                    <button type="submit">削除</button>
                </form>
            </p>
        </li>
        {% endfor %}
        <p>
            <td colspan="3"><strong>合計金額:</strong></td>
            <td>{{ cart_products | calculate_total_price }} 円</td>
        </p>   
    <form action="{{ url_for('order.orders') }}" method="post">
        <button type="submit">注文を確定する</button>
    </form>
    </ul>
</body>
</html>