<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
    <h1>ユーザー登録画面</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('registers_exe') }}" method="POST">
        <div>
            <label for="user_name">Username:</label>
            <input type="text" id="user_name" name="user_name" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="user_type">User Type:</label>
            <select id="user_type" name="user_type">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div>
            <input type="submit" value="登録">
        </div>
    </form>
</body>
</html>